
@media screen and (max-width: 767px) {
      #information {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
    .fHide{
      display: none;
    }

    .carousel-inner > .carousel-item> img {
        max-height: 50%;
        height: 50% !important;
      }

   .navbar-light .navbar-toggler{
        position: absolute;
        left:0;
    } 
/* 
    .firstnav{
     display: none;
    }
*/
    .navbar-brand{
        display: block !important;
    } 

    .miniCard{
      padding-left: 0px;
    }

    
  }

    
  @media screen and (min-width: 768px) {
    .carousel-inner > .carousel-item> img {
        max-height: 80%;
        height: 80% !important;
      }
      
      .secondCol{
        padding-left: 0px;
      }

      .miniCard1{
        padding-right:1px;
      }

      .miniCard2{
        padding-left: 1px;
      }
     
    }
    
  
    .card-body > p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    .top-right {
      position: absolute;
      top: 8px;
      right: 16px;
    }

    .bottom-left{
      position: absolute;
      bottom: 8px;
      left:20px;
      color:whitesmoke;
    }
    
    .product_info_tabs {
      margin-bottom: 15px;
  }
  .product_info_tabs > li {
      margin: 0;
  }
  .product_info_tabs > li > a {
      color: #666;
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      padding: 17px 15px;
      position: relative;
      text-transform: uppercase;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
  }
  .product_info_tabs > li > a:before {
      background-color: rgb(27, 30, 235);
      bottom: 0;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 0%;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
  }
  .product_info_tabs > li > a:hover,
  .product_info_tabs > li > a.active {
      color:  rgb(27, 30, 235);
  }
  .product_info_tabs > li > a:hover:before,
  .product_info_tabs > li > a.active:before {
      width: 100%;
  }
  .nbd-required{
    color: red;
  }
  .product-btn-price{
    background: #404762;
    color:#fff;
    border-radius: 15px;
    padding: 10px 10px;
  }